.switch {
  position: relative;
  display: inline-block;
  width: 200px;
  height: 33px;
  margin: auto;
}

.switch input {display:none;}

.slider {
position: absolute;
cursor: pointer;
top: 0;
left: 0;
right: 0;
bottom: 0;
background-color: #5fcf80;
-webkit-transition: .4s;
transition: .4s;
}

.slider:before {
position: absolute;
content: "";
height: 26px;
width: 26px;
left: 4px;
bottom: 3px;
background-color:  white;
-webkit-transition: .6s;
transition: .6s;
}

input:checked + .slider {
background-color: white;
}

input:focus + .slider {
box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
-webkit-transform: translateX(200px);
-ms-transform: translateX(200px);
transform: translateX(200px);
}

.en
{
display: none;
}

.en, .bg
{
color: white;
position: absolute;
transform: translate(-50%,-50%);
top: 50%;
left: 50%;
font-size: 15px;
font-family: 'Source Sans Pro', sans-serif;
}

input:checked+ .slider .bg
{display: block;}

input:checked + .slider .en
{display: none;}

.slider.round {
border-radius: 34px;
}

.slider.round:before {
border-radius: 50%;}